{% extends "layout.njk" %}

{% block head %}
<title>Foodfy - recipes</title>
{% endblock %}

{% block content %}

<main>
		<div class="recipes">

			{% for recipe in recipes %}
			<div class="recipe">
				<img src="{{recipe.image}}" alt="{{recipe.title}}" />
				<h3>{{recipe.title}}</h3>
				<p>por {{recipe.author}}</p>
			</div>
			{% endfor %}

		</div>
	</main>

	<script src="/scripts/scripts.js"></script>

	{% endblock %}