@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #111111;
}

header {
  width: 940px;
  margin: 30px auto;
  display: flex;
}
  header img {
    margin-right: 100px;
  }
  header nav a {
    font-size: 16px;
    color: #111111;
    text-decoration: none;
    margin-right: 42px;
  }
  header nav a:hover {
    font-weight: bold;
  }

section {
  width: 940px;
  margin: 20px auto 40px;
  background: #FBDFDB;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px 0 50px;
}
  section div {
    margin-top: 60px;
    width: 320px;
  }
    section div h1 {
      font-size: 32px;
      margin-bottom: 20px;
    }
    section div p {
      font-size: 18px;
      line-height: 28px;
      opacity: 0.7;
    }

main {
  width: 940px;
  margin: 40px auto;
}
  main h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.recipe {
  margin-bottom: 20px;
  cursor: pointer;
}
  .recipe img {
    width: 300px;
    border-radius: 15px;
    margin-bottom: 16px;
  }
  .recipe h3 {
    font-size: 18px;
  }
  .recipe p {
    font-size: 14px;
    color: #777777;
  }

.about h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.about h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.about p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 20px;
}

.details img {
  border-radius: 15px;
}

.details > h2 {
  font-weight: bold;
  font-size: 36px;
  color: #111111;
  text-align: center;
  margin: 30px 0 5px 0;
}

.details > p {
  text-align: center;
  font-size: 20px;
  color: #777777;
}

.details > h3 {
  font-weight: bold;
  font-size: 24px;
  color: #111111;
  margin: 50px 0 30px 0;
}

.details > h3 > span {
  font-size: 12px;
  color: #999999;
  text-transform: uppercase;
  margin-left: 10px;
  cursor: pointer;
}

.details #ingredients,
.details #preparation,
.details #information {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  text-align: left;
}

.details #ingredients {
  margin-left: 20px;
}

.details #preparation p {
  margin-bottom: 18px;
}

.hide {
  display: none;
}

footer {
  width: 100%;
  background: #EEEEEE;
  padding: 10px;
  font-size: 14px;
  color: #999999;
  text-align: center;
}